<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Guru99_Suite">
  <test thread-count="5" name="RegisterPageTest">
    <classes>
      <class name="TestLayer.RegisterPageTest_Guru99"/>
    </classes>
  </test> <!-- RegisterPageTest -->
</suite> <!-- Guru99_Suite -->
